# item_price 피처 살펴보기

In [2]:
import pandas as pd

In [20]:
file_path = './data/chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [21]:
print(chipo.shape)

(4622, 5)

In [22]:
print(chipo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [23]:
chipo['item_price'].head()

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [24]:
x = "$4.99"
type(x)

str

In [25]:
x[1:]

'4.99'

In [26]:
float(x[1:])

4.99

# apply()와 lambda를 이용해 데이터 전처리하기

In [27]:
# column 단위 데이터에 apply() 함수로 전처리를 적용합니다.
chipo['order_id'] = chipo['order_id'].astype('str')
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [15]:
# 주문당 평균 계산금액 출력하기
chipo.groupby('order_id')['item_price'].sum()

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [16]:
chipo.groupby('order_id')['item_price'].sum().mean()

18.811428571428568

In [28]:
# 한 주문에 10달러 이상 지불한 주문 번호(id) 출력하기
chipo_orderid_group = chipo.groupby('order_id').sum()
results = chipo_orderid_group[chipo_orderid_group.item_price >= 10]

In [29]:
print(results[:10])
print(results.index.values)

          quantity  item_price
order_id
1                4       11.56
10               2       13.20
100              2       10.08
1000             2       20.50
1001             2       10.08
1002             2       10.68
1003             2       13.00
1004             2       21.96
1005             3       12.15
1006             8       71.40
['1' '10' '100' ... '997' '998' '999']

In [30]:
# 개별 아이템 가격 구하기
chipo_one_item = chipo[chipo.quantity == 1]
price_per_item = chipo_one_item.groupby('item_name').min()
price_per_item.sort_values(by = "item_price", ascending = False)[:10]

,order_id,quantity,choice_description,item_price
item_name,,,,
Steak Salad Bowl,1032,1,"[Fresh Tomato Salsa, Lettuce]",9.39
Barbacoa Salad Bowl,1283,1,"[Fresh Tomato Salsa, Guacamole]",9.39
Carnitas Salad Bowl,1035,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.39
Carnitas Soft Tacos,1011,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
Carnitas Crispy Tacos,1774,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.99
Steak Soft Tacos,1054,1,"[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream]]",8.99
Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
Carnitas Bowl,1007,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",8.99
Barbacoa Soft Tacos,1103,1,"[Fresh Tomato Salsa, [Black Beans, Cheese, Let...",8.99
Barbacoa Crispy Tacos,110,1,"[Fresh Tomato Salsa, Guacamole]",8.99

In [32]:
# 가장 비싼 주문에서 판매된 아이템 수량 구하기
chipo.groupby('order_id').sum().sort_values(by = 'item_price',ascending=False)[:5]

          quantity  item_price
order_id
926             23      205.25
1443            35      160.74
1483            14      139.00
691             11      118.25
1786            20      114.30

In [33]:
# 'Chicken Salad Bowl'이 주문된 주문 횟수 구하기
chipo_salad = chipo[chipo['item_name'] == "Chicken Salad Bowl"]
chipo_salad.shape

(110, 5)

In [34]:
chipo_salad = chipo[chipo['item_name'] == "Chicken Salad Bowl"]
chipo_salad = chipo_salad.drop_duplicates(['order_id'])
chipo_salad.shape

(98, 5)

In [44]:
# 'Chicken Salad Bowl'을 2개 이상 주문한 주문 횟수 구하기
chipo_chicken = chipo[chipo['item_name']=="Chicken Bowl"]
chipo_chicken_result = chipo_chicken[chipo_chicken['quantity']>=2]
chipo_chicken_result = chipo_chicken_result.drop_duplicates(['order_id'])
print(chipo_chicken_result.shape)
chipo_chicken_result.head()

(33, 5)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50
282,124,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",17.50
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
415,181,2,Chicken Bowl,[Tomatillo Red Chili Salsa],17.50

In [46]:
chipo_chicken = chipo[chipo['item_name']=="Chicken Bowl"]
chipo_chicken_ordersum = chipo_chicken.groupby('order_id')['quantity'].sum()

chipo_chicken_ordersum[chipo_chicken_ordersum>=2]

order_id
1004    2
1023    2
1072    2
1078    2
1091    2
       ..
972     2
973     3
983     2
986     2
997     2
Name: quantity, Length: 114, dtype: int64