# 연습문제 풀이

## drinks 데이터셋

In [8]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_path = './data/drinks.csv'

drinks = pd.read_csv(file_path)
drinks['continent'] = drinks['continent'].fillna('OT')
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [9]:
# 1. 대륙별 평균 wine_servings을 탐색
drinks.groupby('continent')['wine_servings'].mean()
#.to_frame()
#.reset_index()

  continent  wine_servings
0        AF      16.264151
1        AS       9.068182
2        EU     142.222222
3        OC      35.625000
4        OT      24.521739
5        SA      62.416667

In [13]:
# 2. 국가별 모든 servings의 합을 계산하여 total_servings라는 피처 생성
drinks['total_servings'] = drinks['beer_servings'] + drinks['wine_servings'] + drinks['spirit_servings']
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
0,Afghanistan,0,0,0,0.0,AS,0
1,Albania,89,132,54,4.9,EU,275
2,Algeria,25,0,14,0.7,AF,39
3,Andorra,245,138,312,12.4,EU,695
4,Angola,217,57,45,5.9,AF,319

In [19]:
# 3. 전체 평균보다 적은 알코올을 마시는 대륙 중, spirit을 가장 많이 마시는 국가를 찾기
total_mean = drinks['total_litres_of_pure_alcohol'].mean()
# print(f'total_mean={total_mean: .4f}')
continent_mean = drinks.groupby('continent').total_litres_of_pure_alcohol.mean()
# print(continent_mean)
continent_under_mean = continent_mean[continent_mean < total_mean].index.to_list()
df_continent_under_mean = drinks[drinks['continent'].isin(continent_under_mean)]
df_continent_under_mean['spirit_servings'].idxmax()
drinks['country'][df_continent_under_mean['spirit_servings'].idxmax()]

'Russian Federation'

In [29]:
# 4. 술 소비량 대비 알코올 비율을 구하고, 전체 순위 중 한국의 순위를 구하시오.

drinks['alcohol_rate'] = drinks.total_litres_of_pure_alcohol / drinks.total_servings # divided by zero
drinks['alcohol_rate'] = drinks['alcohol_rate'].fillna(0)
# drinks.head()
country_with_rank = drinks[['country','alcohol_rate']].sort_values(by='alcohol_rate',ascending=False)
country_list = country_with_rank.country.tolist()
korea_rank = country_list.index('South Korea') + 1  # index는 0부터 시작

print(f'{korea_rank}위')

15위

In [33]:
# 5. 대륙별로 술 소비량 대비 알코올 비율을 구하시오.

continent_sum = drinks.groupby('continent').sum()
continent_sum['continent_alcohol_rate'] = continent_sum['total_litres_of_pure_alcohol'] / continent_sum['total_servings']
continent_sum['continent_alcohol_rate']

continent
AF    0.031970
AS    0.020293
EU    0.018392
OC    0.018401
OT    0.017860
SA    0.017909
Name: continent_alcohol_rate, dtype: float64